$primary-color: #F44336;
$primary-font-color: #ffffff;

$toolbar-bg: lighten(#ddd, 10%);

$input-border-color: rgba(#888, 0.5);

$side-nav-font-color: #888;

$mediaMaxWidth: "(max-width: 1260px)";
$mediaBR1Width: "(max-width: 960px)";

$mobileMaxWidth: "(max-width: 780px)";
$mobileMinWidth: "(min-width: 320px)";