[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#index-container {
  padding: 0;
  margin: 0;
  width: 100%;
}


/* Remove Padding on Menu */
md-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

#nearby-places-btn {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 10px;
}

#show-markers-btn {
  position: absolute;
  z-index: 2;
  top: 95px;
  right: 10px;
}

#show-streetview-btn {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  right: 10px;
}