#gate-list-sidenav {
  top: 50px;
  height: 70%;
  max-width: 230px;

  md-toolbar {
    min-height: 50px;
    .md-toolbar-tools {
      max-height: 50px;
    }
  }

  md-toolbar.filter-toolbar {
    max-height: 50px;
    min-height: 50px;

    form {
      height: 30px;
      md-input-container {
        padding: 0px;
        margin: 0px;
        height: 25px;

        input {
          color: #ffffff;
          border-color: rgba(255, 255, 255, 0.8);
        }

        ::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  md-content {
    md-card md-card-content {
      padding: 5px;

      md-list {
        //padding: 0px;

        .md-subheader {
          .md-subheader-inner {
            padding: 2px 10px;
            font-size: 12px;
          }
        }

        md-list-item {
          button {
            .md-list-item-inner {
              font-size: 15px;
              font-weight: 500;
              color: #555;

              img {
                margin-left: 10px;
              }

              md-icon {
                margin: 0px;
                right: 0px;
              }
            }
          }
        }
      }
    }
  }
}
